* {
    box-sizing: border-box;
}
.header {
    width: 100%;
    background-color: #ffcda9;
    height: 200px;
    position: relative;
    padding: 30px;
}
.header h2 h5 {
    color: #005063;
}
.triangle-down {
    position: absolute;
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #ffcda9;
    left: 30%;
}

.container-fluid {
    background: #efefef;
    

}
.container-fluid .info ul li {
    list-style-type: none;
}